{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}
<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>La Girafe – Café associatif à Sainte-Consorce</title>
  <link rel="canonical" href="https://www.la-girafe.fr" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{root}}assets/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{root}}assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{root}}assets/img/favicons/favicon-16x16.png">
  <link rel="manifest" href="{{root}}assets/img/favicons/site.webmanifest">
  <link rel="mask-icon" href="{{root}}assets/img/favicons/safari-pinned-tab.svg" color="#34354a">
  <link rel="shortcut icon" href="{{root}}assets/img/favicons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="La Girafe">
  <meta name="application-name" content="La Girafe">
  <meta name="msapplication-TileColor" content="#34354a">
  <meta name="msapplication-config" content="{{root}}assets/img/favicons/browserconfig.xml">
  <meta name="theme-color" content="#34354a">
  <meta name="google-site-verification" content="oQJ0CR-sZeTffDT6Oiw63FEd5t-gv2BiVxyTYByCG6g" />
  <meta name="description"
    content="Découvrez La Girafe, un café associatif à Sainte-Consorce, ouvert à toutes et tous. Profitez d'un espace convivial dédié à la culture, avec des activités variées, café associatif, événements et plus. Rejoignez l'association Un Lieu Pour Tous et participez à cette aventure citoyenne. Horaires, coordonnées, et événements à ne pas manquer.">
  <meta property="og:title" content="La Girafe – café associatif à Sainte-Consorce" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.la-girafe.fr/" />
  <meta property="og:description" content="Découvrez La Girafe, un café associatif à Sainte-Consorce, ouvert à toutes et tous. Profitez d'un espace convivial dédié à la culture, avec des activités variées, café associatif, événements et plus. Rejoignez l'association Un Lieu Pour Tous et participez à cette aventure citoyenne." />
  <meta property="og:image" content="{{root}}assets/img/GIRAFE-logo.svg" />
  <meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="La Girafe – Café associatif à Sainte-Consorce" />
<meta name="twitter:description" content="Découvrez La Girafe, un café associatif à Sainte-Consorce, ouvert à toutes et tous. Profitez d'un espace convivial dédié à la culture, avec des activités variées, café associatif, événements et plus. Rejoignez l'association Un Lieu Pour Tous et participez à cette aventure citoyenne." />
<meta name="twitter:image" content="{{root}}assets/img/GIRAFE-logo.svg" /> <!-- Replace URL_DE_L_IMAGE with the actual URL of the image you want to use -->
  <link rel="stylesheet" href="{{root}}assets/css/app.css">
  <link rel="stylesheet" href="{{root}}assets/css/override.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;700&display=swap" rel="stylesheet">
  <script type="text/javascript" src="{{root}}assets/js/spamspan.js"></script>
</head>
<body>
  {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
  {{> body}}
  <script src="{{root}}assets/js/app.js"></script>
</body>
</html>